:root {
    --color1: #b9b8b7;
    --color2: #cbcac9;
    --color3: #dcdcdb;
    --color4: #eeeded;
    --color5: #ffffff;
    --black: #000;

}

body { 
    font-family: Arial, sans-serif; 
    margin: 20px; 
    
}

header {
    background-color:var(--color1);
    padding: 2px;
    color:var(--color5);
    text-align: center;
    border-radius: 8px;
}
header h1{
    color: black;
}

table { 
    border-collapse: collapse; 
    width: 100%; 
    margin-top: 10px; 
}
th, td { border: 1px solid var(--color2); 
    padding: 6px; 
}
th { 
    background: var(--color4); 
}
input, select, button, textarea { 
    padding: 5px; 
    margin: 4px; 
}
.modal { 
    display: none; 
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
    background: rgba(0,0,0,0.5); 
}
.modal-content { 
    background: #fff; 
    padding: 20px; 
    border-radius: 8px; 
    width: 400px; 
}
.modal-content input, textarea { 
    width: 100%; 
    margin-bottom: 8px; 
}

